body {
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#carouselpicsize {
	height: 300px;
}

#logocardempire {
	width: 25%;
	height: 25%;

}

.nav-link {
	color: red;
}

.testdiv {
	
}


#leftnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 303.9px;
}

.leftnavitem {
	float: left;
}

.leftnavitem a {
	display: block;
	color: white;
	text-align: center;
	margin-right: 10px;
	text-decoration: none;
	color: red;
}

.leftnavitem a:hover {
	color: #212529;

}

#rightnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 303.9px;
}

.rightnavitem {
	float: right;
}

.rightnavitem a {
	display: block;
	color: white;
	text-align: center;
	margin-right: 10px;
	text-decoration: none;
	color: red;
}

.rightnavitem a:hover {
	color: #212529;

}


#bottomnav {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.bottomnavitem {
	display: inline;

}

.bottomnavitem a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 22px 26px;
	text-decoration: none;
}

.bottomnavitem a:hover {
	background-color: red;
	border-bottom: 3px solid yellow;

}


.searchnav {
	padding: 22px;
	float: right;
}


.topsellercard {
	margin: 15px;
	padding: 0px;

}

.ythomepage {
	padding: 10px;
}

.topsellertitle {
	border-bottom: 3px solid yellow;
	width: 325px;
}

.tabletitle {
	border-bottom: 3px solid #ffff00;
}

.storeimg {
	width: 500px;
	height: 300px;
	padding: 5px;
	margin: 5px;
}

.buyimgtext {
	border-bottom: 3px solid black;
	border-height: 325px;
	color: black;

}